<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <a href="/userList">学生信息查看</a>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACaElEQVRYR+2WP2jUYBjGnzfpl1pwtQXbnPTonxwoIvgHoSLoomgHcXB0UYou2r2b4OJQnZSqiJOLiIh/FhddFIu4iHfXqx2SK9gOWhws5kvyyMVebdP0Ktdru1y25E3e55fne9/vewVbfMkW66MJ0HRgmQNT7ej4bVlXxeABEi2NLFARBIxkvNX3b2ZnMVPNvQhAQBUzVgFAtpHCKbmm+l3fEUBXYosAE53mqcg0n1c/IBkI8ITAvAjOAbKtUWBGGJ7umw5fLAPIZ9SQQO7EImRkksd6y8Gbym2xU+2NTHwQiNUICIJDOVeP1QIYdzx9cKlYwbZeQXBiUwBIfs55ek8C4CUEJzcF4O8yRCP9XnBdAJZ2qn1BC95v3hIs/CaBbyCLIjj030VIzkOkrZZTa9dAvT6ThPAIaDyCwF4tzboBFlpUIGIuFSE4lnP1UD5jDgrMZxsGgIi34uSGXPknwrnWn7q7ew5zlWeFjHoNyPE0iHU5QPCH/NK74sRt6itEdsT9HPFif1nfqwpOZJANoQoCUUmIdQGAvOx4+na8QXWpCzTkLsGPOVfvTwoVbOsaBCMNAyDwxXH93ZXWjDsVkKKtPjHipdx08C4pVAJaQ9sqJQuybgcMRkf7vODtUqF8Z8thEQw45eBG2nrnu8yzYpiPE8W6xlacXjlPHc8/kypiq4fbqYftMr6nxZMFWZcDAp6PIrppAgakNxIMgHyQFheRLETuV2OrANTu3Xr3pnQzw8GcG8ZH/7KBpGBbkyLINFJsRQcQruP5PSsGksqLkx1o18oa3siRTGl/tGcGs1Ww5lTcdKDpwB9LlTowqmAxpAAAAABJRU5ErkJggg=="/>

</body>
</html>